 <nav class="top-bar fixed">
  <ul>
    <li class="name"><h1><a href="#">Edge Agility</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>

  <section>
    <ul class="left">
     <li>{{outlet backlogMenu}}</li>
     <li>{{outlet scrumBoardMenu}}</li>
    </ul>
     
    {{outlet projectMenu}}



    {{outlet loginMenu}}
    {{outlet projectsMenu}}
  </section>
</nav><br/><br/><br/><br/>
 
 <div class="row">
    {{outlet}}
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright Edge Agility.</p>
        </div>
        <div class="six columns">
          <ul class="inline-list right">
            <li><a href="#">Backlog</a></li>
            <li><a href="#">Scrum Board</a></li>
            <li><a href="#">This Project</a></li>
            <li><a href="#">All Projects</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>